.chat-main
  .header
    .group
      .group__group-name
        group-name
      %ul.group__members
        Member : 
        %li.member
          member1
        %li.member
          member2
    =link_to new_group_path, class: "edit-btn" do
      Edit
  .main
    - @messages.each do |message|
      .message-items
        .message-items__title
          .member
            = message.user.name
          .timestamp
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .message-items__message
          .content
            = message.content if message.content.present?
          .image
            = image_tag message.image.url if message.image.present?
  .footer
    = form_for [@group, @message] do |f|
      .box
        = f.text_field :content, class: 'box__text', placeholder: 'type a message'
        %label
          = f.file_field :image, class: 'box__file-btn'
          .box__icon
            = icon('fas', 'image',class: 'icon')
      = f.submit 'Send', class: 'send-btn'
