.chat-main
  .header
    .group
      .group__group-name
        = @group.name
      %ul.group__members
        Member : 
        %li.member
          - @group.users.each do |user|
            = user.name
    =link_to edit_group_path(@group.id), class: "edit-btn" do
      Edit
  .main
    = render partial: 'message', collection: @messages
  .footer
    = form_for [@group, @message] do |f|
      .box
        = f.text_field :content, class: 'box__text', placeholder: 'type a message'
        %label
          = f.file_field :image, class: 'box__file-btn'
          .box__icon
            = icon('fas', 'image',class: 'icon')
      = f.submit 'Send', class: 'send-btn'
