.chat-main
  .header
    .group
      .group__group-name
        group-name
      %ul.group__members
        Member : 
        %li.member
          member1
        %li.member
          member2
    =link_to new_group_path, class: "edit-btn" do
      Edit
  .main
    .message-items
      .message-items__title
        .member
          masa
        .timestamp
          2019/11/20(Wed)17:43:01
      .message-items__message
        おはよう
    .message-items
      .message-items__title
        .member
          masa
        .timestamp
          2019/11/20(Wed)17:43:01
      .message-items__message
        こんにちは
    .message-items
      .message-items__title
        .member
          masa
        .timestamp
          2019/11/20(Wed)17:43:01
      .message-items__message
        おやすみ
  .footer
    = form_for [@group, @message] do |f|
      .box
        = f.text_field :content, class: 'box__text', placeholder: 'type a message'
        %label
          = f.file_field :image, class: 'box__file-btn'
          .box__icon
            = icon('fas', 'image',class: 'icon')
      = f.submit 'Send', class: 'send-btn'
