.side-bar
  .header
    .header-items
      .header-items__name
        =current_user.name
      %ul.header-items__icons
        %li.icon
        = link_to new_group_path do
          = icon('fa', 'edit',class: "icon")
          %span<>
        %li.icon
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',class: "icon")
          %span<>
  .main
    - current_user.groups.each do |group|
      .main-items
        = link_to group_messages_path(group.id) do
          .main-items__group-name
            = group.name
          .main-items__message
            messageはまだありません（仮）
